<div class="user_form">

	<h2>Sign In</h2>

	<%= form_tag sessions_path do %>
	  <div class="field">
	    <%#= label_tag :email %>
	    <%= text_field_tag :email, params[:email], placeholder: "email address" %>
	  </div>
	  <div class="field">
	    <%#= label_tag :password %>
	    <%= text_field_tag :password, nil, placeholder: "password" %>
	  </div>
	  <div class="actions"><%= submit_tag "Sign In" %></div>
	<% end %>
</div>