<div class="fareshare_banner">
	<div class="headline">
		<h1>FARESHARE</h1>
	</div>
	<h3>Keep track of shared expenses easily. Settle up with one click.</h3>
	<img src="/assets/long_receipt.png">
</div>

<div class="how_it_works_banner">
	<div class="headline">
		<h1>How it works</h1>
	</div>
	<div class="steps">
		<div class="step1">
			<h2>1.</h2>
			<h3>Create a group.</h3>
			<h4>Add as many friends as you want. You can always remove them later.</h4>
		</div>
		<div class="step2">
			<h2>2.</h2>
			<h3>Enter your expenses.</h3>
			<h4>Just say how much and who paid. We'll keep track of the details.</h4>
		</div>
		<div class="step3">
			<h2>3.</h2>
			<h3>Pay out.</h3>
			<h4>Only one payment per person and everything is settled.</h4>
		</div>
	</div>
</div>

<div class="footer">
	<p>&copy 2014 by Annie Baer.</p>
	<div class="footer_links">
		<ul>
			<li><a href="/about">ABOUT FARESHARE</a></li>
			<li><a href="/devlog">DEV LOG</a></li>
			<li><a href="#">SOURCE CODE</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</ul>
	</div>
</div>