.nav_bar {
	height: 60px;
	background-color: white;
	border-bottom: solid 1px #9EB5B5;
}

.nav_bar ul {
	list-style: none;
	display: inline;
	padding: 0;
}

.nav_bar ul li {
	display: inline;
	padding: 5px;
	margin: 10px;
	font-size: 12px;
}

.nav_bar ul li a {
	color: #3C6869;
	padding: 3px;
}

.product_links, .logo, .user_actions {
	display: inline;
	position: relative;
  top: 40%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.product_links {
	float: left;
	margin-left: 30px;
}

.user_actions {
	float: right;
	margin-right: 30px;
}

.logo {
	margin-left: auto;
	margin-right: auto;
}
