<div class="footer">
	<p>&copy 2014 by Annie Baer.</p>
	<div class="footer_links">
		<ul>
			<li><a href="/about">ABOUT FARESHARE</a></li>
			<li><a href="/devlog">DEV LOG</a></li>
			<li><a href="https://github.com/albaer/fareshare" target="_blank">SOURCE CODE</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</ul>
	</div>
</div>