<div class="nav_bar">
	<div class="product_links">
		<ul>
			<% if current_user %>
				<li><a href="/groups">GROUPS</a></li>
				<li><a href="/users/">ACCOUNT</a></li>
			<% else %>
				<li><a href="/">HOME</a></li>
				<li><a href="/about">ABOUT</a></li>
			<% end %>
		</ul>
	</div>

	<div class="user_actions">
		<ul>
			<% if current_user %>
				<li><%= link_to "SIGN OUT", signout_path, method: 'delete' %></li>
			<% else %>
				<li><%= link_to "SIGN UP", signup_path %></li>
				<li><%= link_to "SIGN IN", signin_path %></li>
			<% end %>
		</ul>
	</div>
</div>